@model IEnumerable<Post>

<div class="row row-offcanvas row-offcanvas-right">
    <div class="col-lg-9 col-md-9 col-xs-9 col-sm-9">


        @foreach (var post in Model)
        {


            <div class="jumbotron">
                <h2><a href="/Posts/@post.ID">@post.Title</a></h2>
                <img class="postimg" src="@post.Thumbnail" title="@post.Title" />
                <p>@post.Description</p>
                <button class="btn btn-primary">Read More...</button>
            </div>
            <hr />
        }

    </div>


    <div class="col-lg-3 col-md-3 col-xs-3 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

        @Html.Partial("_CategoryView", new BlogEntities().Tags.AsEnumerable<Tag>())

        <!--/.well -->
        <a class="twitter-timeline" href="https://twitter.com/EslaMx7" data-widget-id="386756343878541312">Tweets by EslaMx7</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>

    </div>
    <!--/span-->
</div>